.header {
	background-color: black;
	height: 20vh;
	width: 100%;
}

.title {
	position: relative;
	display: inline-block;
	font-family: Arial;
	color: #536595;
	width: 100%;
	font-size: 25px;
	text-align: center;
	padding-top: 20px;
}

.directions {
	position: relative;
	display: inline-block;
	font-family: Arial;
	color: white;
	width: 100%;
	font-size: 20px;
	text-align: center;
	padding-top: 25px;
}

.container {
	background-color: #536595;
}

.fruitPic {
	position: relative;
}
.fruit {
	position: relative;
	display: inline-block;
	width: 24%;
	height: 25vh;
	padding-top:1%;
	margin-bottom: 2%
}

.mulberries {

}

.nectarines {

}

.oranges {

}

.peaches {

}

.pecans {

}

.persimmons {

}

.pistachios {

}

.plums {

}

.pluots {

}

.pomegranates {

}

.pomelos {

}

.quinces {

}

.raspberries {

}

.rhubarb {

}

.strawberries {

}

.tayberries {

}

.tomatoes {

}

.walnuts {

}

.fruitText {
	position: relative;
	display: inline-block;
	font-family: Arial;
	color: white;
}

.mulberriesPic, .nectarinesPic, .orangesPic, .peachesPic, .pecansPic, .persimmonsPic, .pistachiosPic, .plumsPic, .pluotsPic, .pomegranatesPic, .pomelosPic, .quincesPic, .raspberriesPic, .rhubarbPic, .strawberriesPic, .tayberriesPic, .tomatoesPic, .walnutsPic {
	width: 180px;
	height: 180px;
	margin-left:auto;
	margin-right:auto;
}
.mulberriesPic {
	background-image: url(images/Mulberries.jpg);
}

.nectarinesPic {
	background-image: url(images/Nectarines.jpg);
}

.orangesPic {
	background-image: url(images/Oranges.jpg);
}

.peachesPic {
	background-image: url(images/Peaches.jpg);
}

.pecansPic {
	background-image: url(images/Pecans.jpg);
}

.persimmonsPic {
	background-image: url(images/Persimmons.jpg);
}

.pistachiosPic {
	background-image: url(images/Pistachios.jpg);
}

.plumsPic {
	background-image: url(images/Plums.jpg);
}

.pluotsPic {
	background-image: url(images/Pluots.jpg);
}

.pomegranatesPic {
	background-image: url(images/Pomegranates.jpg);
}

.pomelosPic {
	background-image: url(images/Pomelos.jpg);
}

.quincesPic {
	background-image: url(images/Quinces.jpg);
}

.raspberriesPic {
	background-image: url(images/Raspberries.jpg);
}

.rhubarbPic {
	background-image: url(images/Rhubarb.jpg);
}

.strawberriesPic {
	background-image: url(images/Strawberries.jpg);
}

.tayberriesPic {
	background-image: url(images/Tayberries.jpg);
}

.tomatoesPic {
	background-image: url(images/Tomatoes.jpg);
}

.walnutsPic {
	background-image: url(images/Walnuts.jpg);
}

.layer {
    background-color: rgba(15, 15, 15, 0.5);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.highlight:hover {
	background-color: khaki;
}